{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3 // 指定 runtime-corejs 的版本，目前有 2 3 两个版本
            }
        ],
        [
            "@babel/preset-react",
            {
                "pragma": "dom", // default pragma is React.createElement
                "pragmaFrag": "DomFrag", // default is React.Fragment
                "throwIfNamespace": false // defaults to true
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 3 // 指定 runtime-corejs 的版本，目前有 2 3 两个版本
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-jsx"
    ]
}
